<!DOCTYPE html>
<html lang="en">
	<head>

		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		<title>Rene Alby - Projects</title>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style></style>

	</head>


	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-03N42KWMK9"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-03N42KWMK9');
	</script>

	<body>

		<nav class="navbar navbar-expand-sm bg-light navbar-light">

			<div class="container-fluid">

		    	<ul class="navbar-nav">

					<li class="nav-item">
					
						<a class="nav-link" href="/">About</a>

					</li>

		    		
					<li class="nav-item">
						
						<a class="nav-link active" href="/projects">Projects</a>
					
					</li>
							

				</ul>

			</div>

		</nav>

		<div class="container py-5 text-muted text-right">
			<div class="row">
	
				<div class="col-sm-5">
							
			    	<h1>Projects</h1>

					<p>A collection of projects that are either in-progress or complete</p>
										            									          
					<br>
				</div>
			
			</div>

		</div>
			
		<div class="container">    
			<div class="row">
				<div class="col-sm-4">
				
					<div class="card">
						<img src="https://renealby.com/media/uploads/djang_app_tile.jpg" class="card-img-top" style="width:100%" alt="Django Website (this website)">
						<div class="card-body">
							<h5 class="cart-title">Django Website</h5>
							
							<p class="card-text">This website! Hosted on an Ubuntu 22.02 instance on Amazon Webservice LightSail. (Oct 2023)</p>
							<a href="https://github.com/Reneige/django_website" class="btn btn-outline-secondary">Django Website</a>
						</div>
					</div>
				</div>				
		


				<div class="col-sm-4">
					<div class="card">
						<img src="https://renealby.com/media/uploads/fast_api_app.png" class="card-img-top" style="width:100%" alt="Fast API Mini Project">
						<div class="card-body">
							<h5 class="cart-title">FastAPI Mini Project</h5>
							
							<p class="card-text">API for serving UK Corporate Bond data implemented via FastAPI, SQLAlchemy, and Pydantic (Nov 2024)</p>
							<a href="https://github.com/Reneige/bond_api" class="btn btn-outline-secondary">FastAPI Mini Project</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card">
						<img src="https://renealby.com/media/uploads/portfolio_efficient_frontier.jpg" class="card-img-top" style="width:100%" alt="Portfolio Efficient Frontier">
						<div class="card-body">
							<h5 class="cart-title">Portfolio Efficient Frontier</h5>
							
							<p class="card-text">Mean-Variance Optimization mini project built on Stocks-API, SciPy, Pandas and Numpy. (Oct 2023)</p>
							<a href="https://github.com/Reneige/PortfolioEfficientFrontier" class="btn btn-outline-secondary">Efficient Frontier</a>
						</div>
					</div>
				</div>

			</div>
			</div>
			
		<br> 
		
		<div class="container">    
			<div class="row">
			
				<div class="col-sm-4">
					<div class="card">
						<img src="https://renealby.com/media/uploads/stocks_api.jpg" class="card-img-top" style="width:100%" alt="Stocks API">
						<div class="card-body">
							<h5 class="cart-title">Stocks Api</h5>
							
							<p class="card-text">Python Library for extracting stock data via the free Polygon.io API. (Oct 2023)</p>
							<a href="https://github.com/Reneige/stocks_api" class="btn btn-outline-secondary">Stocks API Github</a>
							<a href="https://pypi.org/project/Stocks-API/" class="btn btn-outline-secondary">Stocks API PyPi</a>
						</div>
					</div>
				</div>

			
				<div class="col-sm-4">
					<div class="card">
						<img src="https://renealby.com/media/uploads/AppScreenshot2.jpg" class="card-img-top" style="width:100%" alt="Research Project: Estimating credit spreads via Machine Learning">
						<div class="card-body">
							<h5 class="cart-title">Research Project (MSc Dissertation)</h5>
							
							<p class="card-text">Repository containg python code used for aggregating data and training two machine learning models: Neural Networks and Gradient Boosted Regression Trees. (Apr 2023)</p>
							<a href="https://github.com/Reneige/EstimatingCreditSpreadsViaMachineLearning" class="btn btn-outline-secondary">Research Project</a>
						</div>
					</div>
				</div>



				<div class="col-sm-4"><!--
					<div class="card"> 
						<img src="https://placehold.it/385x260?text=IMAGE" class="card-img-top" style="width:100%" alt="Image">
						<div class="card-body">
							<h5 class="cart-title">Django Website</h5>
							
							<p class="card-text">This website! Hosted on an Ubuntu 22.02 instance on Amazon Webservice LightSail. (Oct 2023)</p>
							<a href="https://github.com/Reneige/django_website" class="btn btn-outline-secondary">Django Website</a>
						</div>
					</div>-->
				</div>
			</div>
			</div>
			
			
			<br><br>			




		<div class="mt-5 p-4 bg-light text-muted text-left">

			<p>Created by Rene Alby, 2023</p>
			<p>Ubuntu 22.02 (AWS), Apache 2.4.54,  Django 4.2.5</p>  

		</div>






		  



	</body>

</html>



