<!DOCTYPE html>
<html lang="en">
	<head>

		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		<title>Rene Alby - Projects</title>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style></style>

	</head>


	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-03N42KWMK9"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-03N42KWMK9');
	</script>

	<body>

		<nav class="navbar navbar-expand-sm bg-light navbar-light">

			<div class="container-fluid">

		    	<ul class="navbar-nav">
		    		
					<li class="nav-item">
						
						<a class="nav-link active" href="/">Projects</a>
					
					</li>
							
					<li class="nav-item">
					
						<a class="nav-link" href="/about">About</a>

					</li>

				</ul>

			</div>

		</nav>

		<div class="container py-5 text-muted text-right">
			<div class="row">
	
				<div class="col-sm-5">
							
			    	<h1>Projects</h1>

					<p>A collection of projects that are either in-progress or complete</p>
										            									          
					<br>
				</div>
			
			</div>

		</div>
			
		<div class="container">    
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
						<img src="https://placehold.it/150x80?text=IMAGE" class="card-img-top" style="width:100%" alt="Image">
						<div class="card-body">
							<h5 class="cart-title">Stocks Api</h5>
							
							<p class="card-text">Python Library for extracting stock data via the free Polygon.io API</p>
							<a href="https://github.com/Reneige/stocks_api" class="btn btn-info">Stocks API Github</a>
						</div>
					</div>
				</div>


				<div class="col-sm-4">
					<div class="card">
						<img src="https://placehold.it/150x80?text=IMAGE" class="card-img-top" style="width:100%" alt="Image">
						<div class="card-body">
							<h5 class="cart-title">Sample</h5>
							
							<p class="card-text">Sample project info</p>
							<a href="#" class="btn btn-info">Sample Link</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="card">
						<img src="https://placehold.it/150x80?text=IMAGE" class="card-img-top" style="width:100%" alt="Image">
						<div class="card-body">
							<h5 class="cart-title">Sample</h5>
							
							<p class="card-text">Sample project info</p>
							<a href="#" class="btn btn-info">Sample Link</a>
						</div>
					</div>
				</div>
			</div>
			</div>
			
			
			
			<br><br>			




		<div class="mt-5 p-4 bg-light text-muted text-left">

			<p>Created by Rene Alby, 2023</p>
			<p>Ubuntu 22.02 (AWS), Apache 2.4.54,  Django 4.2.5</p>  

		</div>






		  



	</body>

</html>



